<div class="contato-details">
<mat-list role="list">
    <mat-list-item class="text-center w-100">
        <h2 class="badge text-bg-dark fs-6 p-2">DETALHES DO USUARIO</h2>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="badge text-bg-dark fs-6 p-1">Nome:</span>
        <span> Fulano de tal</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="badge text-bg-dark fs-6 p-1">Email:</span>
        <span> Fulano de tal</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="badge text-bg-dark fs-6 p-1">Celular:</span>
        <span> Fulano de tal</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="badge text-bg-dark fs-6 p-1">Telefone:</span>
        <span> Fulano de tal</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="badge text-bg-dark fs-6 p-1">Ativo:</span>
        <span> Fulano de tal</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="badge text-bg-dark fs-6 p-1">Favorito:</span>
        <span> Fulano de tal</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="badge text-bg-dark fs-6 p-1">Data Cadastro:</span>
        <span> Fulano de tal</span>
    </mat-list-item>
    <mat-divider></mat-divider>

</mat-list>
</div>