.contatos-list{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item{
        cursor: pointer;
    }
}

.card{
    width: 80%;
    max-width: 1200px; 
    margin: auto
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content p{
    margin-bottom: 0;
}

.close-btn {
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 30%;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #e53e3e;
}
.close-btn:hover {
    background-color: #e53e3e;
}

.editar-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px; 
  }
  
  .editar-btn i {
    font-size: 18px;
  }
  
  .editar-btn:hover {
    color: #007bff;
  }