<mat-card appearance="outlined" class="card">
    <div class="contatos-list">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element" class="contatos-list__item" (click)="abrirDetalhes(element)">
                    {{element.contato_nome}} </td>
            </ng-container>

            <ng-container matColumnDef="dataCadastro">
                <th mat-header-cell *matHeaderCellDef> Data de Cadastro </th>
                <td mat-cell *matCellDef="let element" class="contatos-list__item" (click)="abrirDetalhes(element)"> {{
                    formatarData( element.contato_dh_cad)}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element" class="contatos-list__item" (click)="abrirDetalhes(element)">
                    <span [ngClass]="element.contato_sn_ativo === 'S' ? 'ativo' : 'inativo'">
                        {{ element.contato_sn_ativo === 'S' ? 'Ativo' : 'Inativo' }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="favorito">
                <th mat-header-cell *matHeaderCellDef> Favorito </th>
                <td mat-cell *matCellDef="let element" class="contatos-list__item" (click)="abrirDetalhes(element)"
                    [innerHTML]="formatarFavorito(element.contato_sn_favorito)"></td>
            </ng-container>

            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element" class="contatos-list__item">
                    <ng-container class="favorito-container">
                        <button [routerLink]="['/editar-contato', element.id]" class="editar-btn">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </ng-container>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
    <div class="paginator-container">
        <mat-paginator [length]="contatos.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
        </mat-paginator>
    </div>
</mat-card>

<button [routerLink]="['/add-contato']" mat-fab class="fab-btn">
    <mat-icon>add</mat-icon>
</button>

<div *ngIf="detalhesVisiveis" class="modal-overlay">
    <div class="modal-content">
        <button (click)="fecharModal()" class="close-btn">X</button>
        <h2>Detalhes do Contato</h2>
        <p><strong>Nome:</strong> {{ contatoSelecionado?.contato_nome }}</p>
        <p><strong>Email:</strong> {{ contatoSelecionado?.contato_email }}</p>
        <p><strong>Celular:</strong> {{ contatoSelecionado?.contato_celular }}</p>
        <p><strong>Telefone:</strong> {{ contatoSelecionado?.contato_telefone }}</p>
        <p><strong>Status:</strong> {{ contatoSelecionado?.contato_sn_ativo === 'S' ? 'Ativo' : 'Inativo' }}</p>
        <p><strong>Data de Cadastro:</strong> {{ formatarData(contatoSelecionado?.contato_dh_cad)}}</p>
        <p><strong>Favorito:</strong> {{ contatoSelecionado?.contato_sn_fav === 'S' ? 'Sim' : 'Nao'}}</p>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
